.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  border-width: 1px;
  transition: filter 0.5s;

  &--white {
    color: $button-primary-text-color;
    background-color: $button-primary-bg-color;
    border: 1px solid $button-primary-border-color;

    &:focus-visible,
    &:active,
    &:hover {
      filter: invert(0.2);
    }
  }

  &--accent {
    color: $button-accent-text-color;
    background-color: $button-accent-bg-color;
    border: 1px solid $button-accent-border-color;

    &:focus-visible,
    &:active,
    &:hover {
      filter: contrast(1.8);
    }
  }
}

@media screen and (max-width: 425px) {
  .button {
    font-size: 11px;
  }
}
