@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/latoregular.woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/latosemibold.woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/latobold.woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/latoheavy.woff2');
  font-style: normal;
  font-weight: 800;
}
